@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar__link {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

#header {
  margin-top: 100px;
}

.header__toggle {
  width: 37px;
  height: 37px;
}

.sidebar__link:hover {
  color: #535bf2;
}

.header {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.sidebar__header-first-level {
  font-size: 3.2em;
  line-height: 1.1;
}

.sidebar__button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.sidebar__button:hover {
  border-color: #646cff;
}

.sidebar__button:focus,
.sidebar__button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .sidebar__link:hover {
    color: #747bff;
  }

  .sidebar__button {
    background-color: #f9f9f9;
  }
}
